In [2]:
import pandas as pd

In [54]:
df = pd.read_csv('input.csv', header=None)

In [56]:
df.columns = ['nums']

In [57]:
df

     nums
0    1946
1    1859
2    1654
3    1806
4    1648
..    ...
195  1939
196  1292
197   853
198  1879
199  1652

[200 rows x 1 columns]

In [61]:
num1 = 0
num2 = 0
for x in df.nums:
    for y in df.nums:
        if (x + y) == 2020:
            num1 = x
            num2 = y
print(f'First Value: {num1}\tSecond Value: {num2}')
print(f'The values multiplied: {num1 * num2}')

First Value: 588	Second Value: 1432
The values multiplied: 842016

In [68]:
num3 = 0
for x in df.nums:
    for y in df.nums:
        for z in df.nums:
            if (x + y + z) == 2020:
                num1 = x
                num2 = y
                num3 = z
print(f'First Value: {num1} \tSecond Value: {num2} \tThird Value: {num3}')
print(f'The values multiplied: {num1 * num2 * num3}')

First Value: 16 	Second Value: 1657 	Third Value: 347
The values multiplied: 9199664