In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('input2.txt', sep=' ')
df.head()

  policy char           password
0   9-12   q:    qqqxhnhdmqqqqjz
1  12-16   z:   zzzzzznwlzzjzdzf
2    4-7   s:            sssgssw
3  13-14   p:  pppqzpppppppfpppp
4    2-9   m:    jknmmmmmmdmmmrm

In [3]:
df.char = [x[0] for x in df.char]

In [4]:
df['max_policy'] = [x.split('-')[1] for x in df.policy]
df.policy = [x.split('-')[0] for x in df.policy]

In [5]:
df = df.rename(columns={'policy': 'min_policy'})
df = df[['min_policy', 'max_policy', 'char', 'password']]
df.head()

  min_policy max_policy char           password
0          9         12    q    qqqxhnhdmqqqqjz
1         12         16    z   zzzzzznwlzzjzdzf
2          4          7    s            sssgssw
3         13         14    p  pppqzpppppppfpppp
4          2          9    m    jknmmmmmmdmmmrm

In [6]:
df.min_policy = df.min_policy.astype(int)
df.max_policy = df.max_policy.astype(int)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   min_policy  1000 non-null   int64
 1   max_policy  1000 non-null   int64
 2   char        1000 non-null   object
 3   password    1000 non-null   object
dtypes: int64(2), object(2)
memory usage: 31.4+ KB

In [8]:
df['pass_chars'] = df.password.str.split('')
df['pass_chars'] = [x[1:-1] for x in df['pass_chars']]

In [9]:
df.head()

,min_policy,max_policy,char,password,pass_chars
0,9,12,q,qqqxhnhdmqqqqjz,"[q, q, q, x, h, n, h, d, m, q, q, q, q, j, z]"
1,12,16,z,zzzzzznwlzzjzdzf,"[z, z, z, z, z, z, n, w, l, z, z, j, z, d, z, f]"
2,4,7,s,sssgssw,"[s, s, s, g, s, s, w]"
3,13,14,p,pppqzpppppppfpppp,"[p, p, p, q, z, p, p, p, p, p, p, p, f, p, p, ..."
4,2,9,m,jknmmmmmmdmmmrm,"[j, k, n, m, m, m, m, m, m, d, m, m, m, r, m]"

In [ ]:
pass_list = [password for password in df.pass_chars]

In [ ]:
df.info()

In [16]:
def check_pass(df):
    valid = 0
    
    for row in df.index:
        count = df.password.str.count(df.char[row])[row]
        
        if count >= df.min_policy[row] and count <= df.max_policy[row]:
            valid+=1
    return valid

In [17]:
check_pass(df)

569

In [34]:
def check_pass_two(df):
    valid = 0

    for row in df.index:
        position1 = df.min_policy[row] - 1
        position2 = df.max_policy[row] - 1
        char = df.char[row]
        count = 0

        if df.password.str[position1][row] == char:
            count+=1
        if df.password.str[position2][row] == char:
            count+=1
        if count == 1:
            valid+=1

    return valid

In [35]:
check_pass_two(df)

346